.card{
    min-width: 280px;
    min-height: fit-content;
    height: fit-content;
    width: 100%;
    text-align: center;
    // background-color: red;
    padding: 2.5vh;
    .head{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        .image{
            width: fit-content;
        }
    }
}